<ion-tabs>
  <ion-tab-bar slot="bottom">
    <div class="bg-neutral-80 w-full h-full flex">
      <ion-tab-button tab="devis" [selected]="true">
        <ion-label class="text-body">Devis</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="commande">
        <ion-label class="text-body">Commande</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="facturation">
        <ion-label class="text-body">Facturation</ion-label>
      </ion-tab-button>
    </div>
  </ion-tab-bar>
</ion-tabs>
