<div class="p-4">
  <div class="flex items-center">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      (click)="goBack()"
    >
      <path
        d="M16.62 2.98995C16.13 2.49995 15.34 2.49995 14.85 2.98995L6.54001 11.3C6.44731 11.3925 6.37376 11.5024 6.32358 11.6233C6.2734 11.7443 6.24757 11.874 6.24757 12.005C6.24757 12.1359 6.2734 12.2656 6.32358 12.3866C6.37376 12.5076 6.44731 12.6174 6.54001 12.71L14.85 21.02C15.34 21.51 16.13 21.51 16.62 21.02C17.11 20.53 17.11 19.74 16.62 19.25L9.38001 12L16.63 4.74995C17.11 4.26995 17.11 3.46995 16.62 2.98995Z"
        fill="#122740"
      />
    </svg>
    <div
      class="text-[20px] text-primary-900 font-semibold flex-1 flex justify-center"
    >
      Nouveau devis
    </div>
  </div>
  <form
    class="mt-1 h-[82vh] overflow-y-auto no-scroll px-2 select-none"
    [formGroup]="nouveauDevisForm"
    (submit)="createDevis()"
  >
    <div class="mb-2">
      <app-select-box
        label="Client"
        placeholder="Veuillez choisir un client"
        [options]="clients"
        name="client"
        formControlName="client"
      ></app-select-box>
    </div>
    <div class="mb-2">
      <app-select-box
        label="Addresse de facturation"
        placeholder="Entrez l'addresse de Facturation"
        name="invoice_address"
        formControlName="invoice_address"
        [options]="invoice_addresses"
      ></app-select-box>
    </div>
    <div class="mb-2">
      <app-select-box
        label="Addresse de Livraison"
        placeholder="Entrez l'addresse de Livraison"
        name="delivery_address"
        formControlName="delivery_address"
        [options]="delivery_addresses"
      ></app-select-box>
    </div>
    <div class="mb-2">
      <app-date-picker
        label="Date d'expiration"
        placeholder="Date d'expiration du devis"
        name="expiration_date"
        formControlName="expiration_date"
      ></app-date-picker>
    </div>

    <div class="mb-2">
      <app-select-box
        label="Conditions de paiement"
        placeholder="Choisissez une date de delai"
        name="payment_conditions"
        formControlName="payment_conditions"
        [options]="payment_conditions"
      >
      </app-select-box>
    </div>
    <div class="h-[.5px] bg-neutral-100 my-4"></div>
    <div>
      <div class="text-neutral-400 text-body-xs font-medium">
        Ligne de commande
      </div>
      <button
        type="button"
        class="mb-3 mt-2 text-body-xs text-primary-300"
        (click)="addCommandLine()"
      >
        Ajouter un produit
      </button>
      <ul class="list" *ngIf="editedDevis.order_lines">
        <li
          class="bg-neutral-80 py-3 px-4 rounded-md mb-2 border border-neutral-90"
          *ngFor="let ol of editedDevis.order_lines"
        >
          <div class="flex flex-1 flex-col">
            <div class="text-[16px] font-semibold text-primary-900 mt-auto">
              {{ ol.product }}
            </div>

            <div class="text-body text-neutral-500 my-1">
              Quantité: {{ ol.quantity }} unité{{
                ol.quantity === 1 ? "" : "s"
              }}
            </div>
            <div class="text-body text-neutral-500">
              Prix unitaire:
              {{ ol.unitPrice | number : "2.0-2" }} XAF
            </div>
          </div>
          <div class="h-[.5px] bg-neutral-100 my-3"></div>
          <div class="flex justify-end">
            <div class="text-body text-primary-900">
              Total:
              {{ ol.unitPrice * ol.quantity | number : "2.0-2" }} XAF
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="button mt-8">
      <app-button text="Créer un nouveau devis"></app-button>
    </div>
  </form>
</div>
