<ion-menu contentId="main-content-facturation" #menu>
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu de navigation</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="flex flex-col h-full font-sans pb-4 px-4">
      <ion-list class="flex-1">
        <!-- <h5 class="text-neutral-300 font-semibold pl-4">Modules</h5> -->
        <ion-item class="cursor-pointer" (click)="goTo('ventes')" button>
          <ion-label class="font-sans">Ventes</ion-label>
        </ion-item>
        <ion-item class="cursor-pointer" (click)="goTo('home')" button>
          <ion-label class="font-sans">Home</ion-label>
        </ion-item>
      </ion-list>

      <app-button
        (click)="menu.close(); signOut()"
        text="Se déconnecter"
      ></app-button>
    </div>
  </ion-content>
</ion-menu>
<ion-header>
  <ion-toolbar>
    <div class="flex">
      <ion-title>Facturation</ion-title>
      <div
        class="p-2 hover:bg-primary-200 mr-2 rounded-full"
        (click)="menu.open()"
      >
        <ion-img
          src="assets/icon/grid-menu.png"
          class="w-6 h-6 cursor-pointer"
        ></ion-img>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="loadData(true, $event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <div class="wrapper py-4 px-4 h-[calc(100%-56px)] flex flex-col">
    <app-modal #modal>
      <div
        class="h-[70px] bg-primary-400 text-white px-4 flex items-center font-semibold text-h4"
        title
      >
        Modal de confirmation
      </div>
      <div class="wrapper p-4" body>
        <h4 class="text-primary-900 font-semibold">
          Voulez vous vraiment supprimer ce dévis ?
        </h4>
        <div class="text-body-large text-neutral-400 my-4">
          La suppression d'un dévis est définitive et ne peut être annuler.
        </div>
        <div class="buttons flex justify-between gap-1 mt-8">
          <app-button
            text="Supprimer"
            class="flex-1"
            (click)="deleteInvoice()"
            [loading]="loadingDelete"
          ></app-button>
          <app-button
            text="Annuler"
            class="flex-1"
            styles="outlineButton"
            (click)="show_modal = false"
          ></app-button>
        </div>
      </div>
    </app-modal>
    <app-searchbar (searchText)="setSearchText($event)"></app-searchbar>
    <div class="chips my-4">
      <swiper-container slides-per-view="auto" grab-cursor="true">
        <swiper-slide *ngFor="let c of clients">
          <ion-chip
            (click)="setActiveClient(c)"
            [ngClass]="{ active: c === activeClient }"
          >
            <ion-label>{{ c.name }}</ion-label>
          </ion-chip>
        </swiper-slide>
      </swiper-container>
    </div>
    <div *ngIf="!loading && invoices">
      <ul class="list h-[70vh] pb-8 overflow-auto">
        <div class="h-full" *ngIf="invoices!.length == 0">
          <div class="wrapper flex flex-col items-center">
            <div class="text-neutral-200 mb-4 text-body">
              Désolé, Aucun n'élément ne correspond à vos critères
            </div>
            <img
              src="assets/illustration/empty-state.png"
              alt=""
              class="object-cover"
            />
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <li
            *ngFor="let i of invoices"
            class="bg-neutral-80 py-6 px-3 border border-neutral-100 select-none h-full rounded-md relative z-10 transition"
            (click)="editInvoice(i)"
          >
            <h6
              class="font-semibold text-neutral-400 mb-2"
              *ngIf="i.partner_id"
            >
              {{ i.partner_id[1] }}
            </h6>
            <div class="flex gap-2">
              <i class="bg-neutral-90 grid place-items-center w-[55px]">
                <img src="assets/icon/invoice_icon.png" alt="" class="image" />
              </i>
              <div class="flex flex-1 flex-col">
                <div class="text-body text-neutral-600">
                  {{ i.name }}
                </div>
                <div class="mt-auto">
                  <div class="text-body-xs text-neutral-200 mt-[2px]">
                    Date de facturation:
                    <span class="text-neutral-400">{{ i.invoice_date }}</span>
                  </div>
                  <div class="text-body-xs text-neutral-200 mt-[2px]">
                    Date d'échéance':
                    <span class="text-neutral-400">{{
                      i.invoice_date_due
                    }}</span>
                  </div>
                </div>
              </div>
              <div class="flex flex-col justify-between items-end">
                <div
                  class="text-body-xs px-4 py-2 bg-neutral-90 rounded-full text-primary-900 mb-2"
                  *ngIf="i.state"
                >
                  {{ this.states[i.state] }}
                </div>
                <div
                  *ngIf="i.amount_total_signed"
                  class="{{
                    i.amount_total_signed >= 0
                      ? 'text-green-600'
                      : 'text-red-500'
                  }} text-body"
                >
                  {{ i.amount_total_signed | currency : "EUR" }}
                </div>
              </div>
            </div>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              class="absolute top-3 right-3 fill-neutral-100 hover:fill-neutral-200 w-[12px] h-[12px] cursor-pointer"
              xmlns="http://www.w3.org/2000/svg"
              (click)="openModal($event, i)"
            >
              <path
                d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"
                fill="inherit"
              />
            </svg>
          </li>
        </div>
      </ul>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
    <div class="fixed bottom-4 right-4 z-50">
      <app-button [fab]="true" (click)="createNewInvoice()"></app-button>
    </div>
  </div>
</ion-content>
