.list::-webkit-scrollbar {
  display: none;
}

.list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

div.to-delete {
  height: fit-content;
  transition: all 150ms ease;
  transform: scaleY(1);
}

div.deleted {
  transform: scaleY(0);
}

swiper-container {
  width: 100%;

  swiper-slide {
    user-select: none;
    width: fit-content !important;
  }
}
