<div class="ion-page font-sans" id="main-content">
  <ion-content [fullscreen]="true">
    <ion-header class="font-sans">
      <ion-toolbar>
        <div class="flex py-3">
          <ion-title>Page d'acceuil</ion-title>
          <div
            class="pr-6 flex items-center gap-2 relative"
            *ngIf="user$ | async"
          >
            <div class="flex items-center gap-2 cursor-pointer">
              <ion-label class="text-white font-sans select-none"
                >{{ user.name }}</ion-label
              >
              <ion-avatar class="w-10 h-10 p-2 bg-white">
                <img [src]="user.image" alt="" />
              </ion-avatar>
            </div>
          </div>
        </div>
      </ion-toolbar>
    </ion-header>
    <ul class="menu grid p-4 grid-cols-3 gap-1">
      <div
        class="w-full aspect-square cursor-pointer group transition"
        (click)="goTo('ventes')"
      >
        <div
          class="bg-neutral-80 border border-neutral-90 rounded-md h-full w-full grid place-items-center group-hover:bg-primary-200 transition"
        >
          <img
            src="assets/icon/ventes.png"
            alt=""
            class="group-hover:invert transition"
          />
        </div>
        <div
          class="text-left mt-2 font-sans text-neutral-200 font-semibold group-hover:text-primary-200 transition"
        >
          Ventes
        </div>
      </div>
    </ul>
  </ion-content>
</div>
